[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "lib/frost-evm"]
	path = lib/frost-evm
	url = https://github.com/Analog-Labs/frost-evm
